@using GameStorePr.MVC.Models;
@model Review;

<form>
    <div class="form-group">
        <label for="Message">Message</label>
        <input type="Message"asp-for="Message" placeholder="Enter message">
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>